<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8"/>
    <title>{{ task_name | capfirst }} - {{contest}} - {{settings.CONTEST_TITLE}}</title>
    <link rel="shortcut icon" href="{{ static_path }}/img/favicon.ico"/>

    <link rel="stylesheet" href="{{ static_path }}/libs/katex/katex.min.css" />
    <link rel="stylesheet" href="{{ static_path }}/css/markdown.css">
    <link rel="stylesheet" href="{{ static_path }}/css/styles.css">
    <link rel="stylesheet" href="{{ static_path }}/css/pdf.css">

    <script type="text/javascript" src="{{ static_path }}/libs/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{ static_path }}/js/bundle.js">
    </script>
    <script type="text/javascript">
      var marked = require('marked')
      var katex = require('katex')
      var renderMathInElement = require('katex/dist/contrib/auto-render')
    </script>
    <script type="text/javascript" src="{{ static_path }}/js/init-marked.js"></script>
    <script type="text/javascript" src="{{ static_path }}/js/polyfill.js"></script>
</head>


<body>
    <div class="markdown-body pdf">
        <div class="header">
            <div class="logo">
	    <img src="{{ image_base64 }}" />
            </div>
            <div class="title">
		<!--
		<div>IOI 2021 Call for Tasks Submission</div>
		<div>January 15, 2021</div>
		<div><br></div>
		<div>{{contest}} Tasks</div>
		-->
	  	<div>{{contest_full_title}}</div>
		<div>{{contest_date}}</div>
        <div>{{contest_place}}</div>
		<div>{{contest}}</div>
		<!-- <div>{{contest}} Tasks</div> -->
            </div>
            <div class="meta">
                <div>{{task_name}}</div>
                <div>{{language}} ({{country}})</div>
            </div>
            <div style="clear: both;"></div>
            <hr>
        </div>
        <div id="markdown" style="display: none">{{content}}</div>
        <div id="preview" class="rendered_content" dir="{{direction}}" lang="{{language_code}}"></div>
    </div>
</body>
<script>

    $(document).ready(function() {
      try{
        var text = $('#markdown').text();
        $('#preview').html(marked.parse(text.replace(/\\/g, "\\\\")));
        renderMathInElement(document.getElementById('preview'), {
          delimiters: [
            { left: "$$", right: "$$", display: true },
            { left: "\\[", right: "\\]", display: true },
            { left: "$", right: "$", display: false },
            { left: "\\(", right: "\\)", display: false },
          ],
          throwOnError: false,
          macros: {'\\frac': '{#1 \\above{0.05em} #2}'}
        });
        window.setTimeout(function(){window.status="imdone";},4000);
      }catch(e){
        $('#preview').html(e.toString())
        window.setTimeout(function(){window.status="imdone";},4000);
      }
    });
    
    IMAGES_URL = '{{ images_path }}';
        
</script>

<style>
    {% if pdf_output %}
    @media print {
        body {
            zoom: 1.2;
        }
        .header .logo img {
            margin-top: 1px;
        }
        
    }
    {% endif %}
    {% if text_font_base64 %}
        @font-face {
            font-family: 'CustomTextFont';
            src: url(data:font/truetype;charset=utf-8;base64,{{ text_font_base64 }})
        }
    {% endif %}
</style>

</html>
