.topbar {
  color: white;
  background-color: #212529;
  display: flex;
  justify-content: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #383f46;
}

.panelcontainer {
  margin-top: 1rem;
  flex: 1;
  height: 100vh;
}

.panelcontainer > table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 720px;
}

.panelcontainer > table tr {
  height: 100%;
  width: 100%;
}

.panelcontainer > table td {
  padding: 0.75rem;
}

.panelcontainer > table .tablects {
  width: 100%;
  height: 5rem;
  position: relative;
  color: white;
  text-align: center;
}

.panelcontainer > table .tablebtn {
  min-width: 5rem;
  height: 5rem;
  position: relative;
}

.spinnercontainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: calc(2vmin + 64px);
  position: fixed;
  bottom: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color: white;
}

.footer h3 {
  margin-right: 20px;
}
