.edit-pane {
  float: left;
  width: 50%;
  border: 1px solid #ddd;
  min-height: 800px;
  background-color: #ffffff;
}
.preview-pane {
  border: 1px solid #ddd;
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 1px;
  background-color: #f6f6f6;
  border-left: 0px;
  min-height: 800px;
  padding: 15px;
  width: 50%;
  float: right;
  color: #333;
}
.col-6 {
  width: 50%;
}
.markdown-body {
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.spinnerwrapper {
  text-align: left;
}

.topbar {
  color: white;
  background-color: #212529;
  display: flex;
  justify-content: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #383f46;
}

.panelcontainer {
  margin-top: 1rem;
  flex: 1;
}

.panelcontainer > table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 720px;
}

.panelcontainer > table .tablects {
  flex: 1;
}

.panelcontainer > table .tablebtn {
  width: 5rem;
  height: 5rem;
  position: relative;
}

.panelcontainer > table td > a {
  position: absolute;
  inset: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.panelcontainer > table td > a:hover,
.panelcontainer > table td > a:active {
  color: #15ff79;
  border-color: #15ff79;
  cursor: pointer;
}

.panelcontainer > table td > a:disabled {
  color: #918787;
  border-color: #918787;
  cursor: not-allowed;
  background-color: #4b5055;
}

.panelcontainer > table .tablects {
  position: relative;
}

.modal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.modal > input {
  margin-top: 20px;
}
