.edit-pane {
  float: left;
  width: 50%;
  border: 1px solid #ddd;
  min-height: 800px;
  background-color: #ffffff;
}
.preview-pane {
  border: 1px solid #ddd;
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 1px;
  background-color: #f6f6f6;
  border-left: 0px;
  min-height: 800px;
  padding: 15px;
  width: 50%;
  float: right;
  color: #333;
}
.col-6 {
  width: 50%;
}
.markdown-body {
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.button {
  min-width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: #eaeaea;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.35s ease, border-color 0.35s ease;
  background-color: #212529;
}

.button:hover,
.button:active {
  color: #15ff79;
  border-color: #15ff79;
  cursor: pointer;
}

.button:disabled {
  color: #918787;
  border-color: #918787;
  cursor: not-allowed;
  background-color: #4b5055;
}

.spinnerwrapper {
  text-align: left;
}

.topbar {
  background-color: #212529;
  display: flex;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.panelcontainer {
  display: flex;
  flex: 1;
}
