.edit-pane {
  float: left;
  width: 50%;
  border: 1px solid #ddd;
  min-height: 800px;
  background-color: #ffffff;
}
.preview-pane {
  border: 1px solid #ddd;
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 1px;
  background-color: #f6f6f6;
  border-left: 0px;
  min-height: 800px;
  padding: 15px;
  width: 50%;
  float: right;
  color: #333;
}
.col-6 {
  width: 50%;
}
.markdown-body {
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
